<footer class="flex flex-grow flex-col justify-end items-center text-[14px] text-[#70757a]">
  <div class="pb-[12px] pt-[13px] px-[30px] w-full bg-[#f2f2f2] text-[15px] border-b border-[#dadce0]">
    España
  </div>
  <div class="flex flex-row justify-between items-center h-[47px]  bg-[#f2f2f2] w-full px-[35px]">
      <nav class="flex flex-grow basis-0">
        <ul class="flex gap-x-[30px]">
          <li><a href="#">Publicidad</a></li>
          <li><a href="#">Empresa</a></li>
          <li><a href="#">Cómo funciona la Búsqueda</a></li>
        </ul>
      </nav>
      <div class="flex flex-wrap justify-between">
        <a class="flex text-[14px] items-center" href="#"><img class="h-[14px] w-[14px] mb-1 mr-[5px]" src="hoja.png" alt="">
        <span class="align-top">Emisión neutra de carbono desde el 2007</span></a>
      </div>
      <nav class="flex flex-grow justify-end basis-0">
        <ul class="flex gap-x-[30px]">
          <li><a href="#">Privacidad</a></li>
          <li><a href="#">Términos</a></li>
          <li><a href="#">Configuración</a></li>
        </ul>
      </nav>
    </div>
</footer>