<nav class="flex flex-row justify-between w-full p-[6px] text-[14px]">
  <ul class="flex gap-x-5 mt-[14px] ml-[20px] ">
    <li><a href="#">Sobre Google</a></li>
    <li><a href="#">Tienda</a></li>
  </ul>
  <ul class="google flex gap-x-4 items-center mt-3 mr-1 text-[13px] ">
    <li><a href="#">Gmail</a></li>
    <li class="-ml-[1px]"><a href="#">Imágenes</a></li>
    <li class="ml-[11px]"><a href="#"><svg class="h-6 w-6 text-gray-500 fill-current" focusable="false" viewBox="0 0 24 24"><path d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"></path></svg></a></li>
    <li class="ml-1"><a class="tracking-[0.25px] font-medium text-white text-[14px] bg-blue-600/90 px-[24px] py-[10px] mr-2 rounded hover:shadow-custom hover:bg-blue-600 transition" href="#">Iniciar sesión</a></li>
  </ul>
</nav>